.pub1{
    background-color: var(--pub-1);
    width: 100%;
    
 }
 .pub1 h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
 }
 @keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity:0 ;
    }
    100%{
        opacity: 1;
    }
    
 }